a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    padding-top: 12px;
    justify-content: space-between;
    border-radius: 10px;
}

.a{
    padding-right: 40px;
}

.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
}

.container2>div{

}

#yellow{
    background-color: yellow;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 400px;
    margin-top: 20px;
    border: 10px solid black;
}


#blue{
    background-color: blue;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 400px;
    margin-top: 20px;
    border: 10px solid black;
}




#red{
    background-color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 400px;
    margin-top: 20px;
    border: 10px solid black;
}


#violet{
    background-color: violet;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 400px;
    margin-top: 20px;
    border: 10px solid black;
}


#gray{
    background-color: gray;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 400px;
    margin-top: 20px;
    border: 10px solid black;
}